.titulo_secao {
    color: #F06032;
    font-weight: 900;
}

.topico{
    color: #E24329;
}

.destaque_sub_top{
    color: #E24329;
    /* color: #FFD43B; */
    /* font-weight: 600; */
    border-bottom: 2px solid #3E2C00;
}
